<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>IFLS RSS Feed</title>
    <meta name="description" content="IFLS RSS Feed">
    <meta name="author" content="alpinweiss.eu">

    <link rel="stylesheet" href="static/css/styles.css">

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
</head>

<body>
    <ul>
    {{range $index, $feed := .}}
        <li><a href="{{$feed}}">{{$feed}}</a></li>
    {{end}}
    </ul>
    <script src="static/js/scripts.js"></script>
</body>
</html>